*, ::after, ::before {
    box-sizing: border-box;
}

.about-seciton{

}

.about-section .image-about{
  width: 100%;
  border: 8px solid #fff;
  transition: .5s;
  margin: 30px !important;
}

.about-section .image-about:hover{
  transform: scale(1.03);
}


.image-box{
  text-align: center !important;
  position: relative;
  max-width: 488px;
}

.decore-left{
  left: -31px;
    top: -30px;
    width: 90%;
    height: 92%;
  background: #dde8ff;
  position: absolute;
  z-index: -2;
}

.decore-right{
  width: 60%;
  height: 80%;
  background: #dde8ff;
  position: absolute;
  right: -31px;
    bottom: -30px;
  z-index: -2;
}
