.header-background{
  background-size: cover !important;
  transform: scaleX(-1);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-background .content{
  margin-right: 46px;
  height: 60vh;
  color: #fff !important;
  transform: scaleX(-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-background .content h1{
  font-family: Roboto;
  line-height: 78px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 117px;
  text-transform: uppercase;

  color: #A5C3FC;

  text-shadow: 29px 4px 15px rgba(0, 0, 0, 0.25);
}

.header-background .content p{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 59px;

  color: #FFFFFF;
}

.header-background .social-bar{
  display: flex;
  justify-content: space-between;
}

.image-header{
  width: 50% !important;
}

/* Mobile version */
@media screen and (max-width: 1074px){
  .header-background{
    flex-direction: column;
    padding: 60px 0;
  }

  .image-header{
    width: 80% !important;
  }


  .header-background .content h1{
    font-size: 54px;
    text-align: center;
  }

  .header-background .content p{
    display: none;
  }

  .header-background .content{
    margin: 0 !important;
    width: 70%;
  }

  .header-background .content .social-bar img{
    width: 80%;
  }


}
