<div class="header-background" style="background: url(assets/header/background.png)">

  <img class="image-header" src="assets/header/hexagonal.png" alt="">

  <div class="content">

    <div class="box-text">


    <h1>
      Cultura <br> Binaria
    </h1>

    <br>

    <p>
      Se parte de la <br> Transformación Digital
    </p>
    </div>

    <div class="social-bar">

      <a href="https://www.instagram.com/culturabinaria.lat/" target="_blank">
        <img src="assets/icons/instagram.svg" alt="">
      </a>

      <a href="https://www.youtube.com/channel/UCYgqW9vqariWVUa4KYfDU4w" target="_blank">
        <img src="assets/icons/youtube.svg" alt="">
      </a>

      <a href="#">
        <img src="assets/icons/twitter.svg" alt="">
      </a>

      <a href="#">
        <img src="assets/icons/tiktok.svg" alt="">
      </a>

    </div>

  </div>


</div>
