.navigation{
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  z-index: 99;
  width: 100%;
  transition: all 1s;
}

.navigation.activate{
  opacity: 1;
  background: #fff !important;
}

.navigation.deactivate{
  opacity: 0;
  z-index: -20;
}

.navigation .menu{
  position: absolute;
  left: -100vw;
  top: 0;
  background: #fff;
  width: 80%;
  height: 100vh;
  box-shadow: 2px 10px 104px;
  transition: all .5s;
}

.navigation .menu.activate{
  left: 0;
}

.navigation.activate .btn-login{
  background: transparent;
  border: 2px solid #00245c !important;
  color: #00245c;
}

.navigation.activate .btn-register{
  background: #00245c;
  border: 2px solid #00245c !important;
  color: #fff;
}

.navigation.activate .links li{
  color: #00245c;
}

.navigation img{
  width: 100px;
}

.navigation #logo-color{
  display: none;
}



.navigation.activate #logo-color{
  display: block;
}

.navigation.activate #logo-white{
  display: none;
}
.navigation .links{
  width: 60%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation .links li{
  text-decoration: none;
  list-style: none;
  color: #fff;
  cursor: pointer;
}

.navigation .menu-white, .navigation .menu-color{
  display: none;
}

.btn-login{
  color: #fff;
  background: transparent;
  border-color: #fff;
}

.btn-register{
  color: #00245c;
  background: #fff;
  border-color: #fff;
}

/* Mobile version */
@media screen and (max-width: 1074px){
  .navigation .links{
    display: none;
  }

  .navigation img{
    width: 64px;
  }

  .navigation .menu-white{
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .navigation.activate .menu-white{
    display: none;
  }

  .navigation.activate .menu-color{
    display: block;
    width: 30px;
    cursor: pointer;
  }
}
